CONFIG_TARGET_armsr=y
CONFIG_TARGET_armsr_armv8=y
CONFIG_TARGET_armsr_armv8_DEVICE_myir_mys_rzg2l_wifi=y
CONFIG_DEVEL=y
CONFIG_EXTERNAL_KERNEL_TREE="$(CURDIR)/../rz_linux-cip"
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_INITRAMFS_SEPARATE=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=256
# CONFIG_GRUB_EFI_IMAGES is not set
CONFIG_PACKAGE_kmod-renesas-net-avb=y
CONFIG_PACKAGE_kmod-phy-micrel=y
CONFIG_PACKAGE_kmod-rtw88-8822cs=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y
